git+https://github.com/huggingface/transformers
accelerate
datasets>=2.16.0,<=3.1.0
accelerate>=0.34.0,<=1.0.1
peft>=0.11.1,<=0.12.0
trl>=0.8.6,<=0.9.6
tokenizers>=0.19.0,<0.20.4
gradio>=4.38.0,<=5.12.0
pandas>=2.0.0
scipy
einops
sentencepiece
tiktoken
protobuf
uvicorn
pydantic
fastapi
sse-starlette
matplotlib>=3.7.0
fire
packaging
pyyaml
numpy<2.0.0
av
tyro<0.9.0
colorlog
qwen-vl-utils[decord]
torchvision
git+https://github.com/huggingface/trl.git
"unsloth[cu121-torch250] @ git+https://github.com/unslothai/unsloth.git"
nltk
rouge-chinese
python-dotenv
bitsandbytes>=0.39.0
"ray[default]"
